table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  #todolist{
    background-color: aqua;
    border-radius: 20px;
    padding: 10px 30px;
  }
  #taskCompleted,
  #taskTitle{
    color: white;
    font-size: x-large;
    padding: 10px 10px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #addtask{
    font-size: x-large;
    color: white;
    background-color: red;
    margin-left: 10px;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: none;
  }